<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/back/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/back/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">药品名</label>
        <div class="layui-input-block">
            <input type="text" name="mName" lay-verify="required" lay-reqtext="药品名称不能为空" placeholder="请输入药品名称" value="" class="layui-input">
            <tip>填写需要采购的药品的名称。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">国家医保</label>
        <div class="layui-input-block">
            <select name="meId" lay-filter="aihao" id="ismedical">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">包装类型</label>
        <div class="layui-input-block">
            <select name="packing">
                <option value="">请选择问题</option>
                <optgroup label="液体">
                    <option value="溶液型">溶液型</option>
                    <option value="胶体型">胶体型</option>
                    <option value="混悬剂">混悬剂</option>
                    <option value="乳剂">乳剂</option>
                </optgroup>
                <optgroup label="半固体">
                    <option value="软膏剂">软膏剂</option>
                    <option value="凝胶剂">凝胶剂</option>
                    <option value="栓剂">栓剂</option>
                </optgroup>
                <optgroup label="固体">
                    <option value="散剂">散剂</option>
                    <option value="颗粒剂">颗粒剂</option>
                    <option value="片剂">片剂</option>
                    <option value="胶囊剂">胶囊剂</option>
                    <option value="丸剂">丸剂</option>
                    <option value="膜剂">膜剂</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">药效</label>
        <div class="layui-input-block">
            <textarea name="efficacy" class="layui-textarea" placeholder="请输入该药的药效"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服用频率</label>
        <div class="layui-input-block">
            <input type="text" name="frequency" placeholder="服用频率" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/back/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
    loadmedical()
       function loadmedical(){
           $.ajax({
               type: "GET",
               url:"../medical/all",
               success:function (result) {
                   // console.log(result)
                   $("#ismedical").empty("");
                   $("#ismedical").append("<option value=''></option>");
                   $(result.data).each(function (i,item) {
                       $("#ismedical").append("<option value='"+item.id+"'>"+item.medicalInsurance+"</option>");
                   })
                   form.render();
               }
           })
       }

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            // var index = layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            var index = layer.alert("添加成功", {
                title: '提示信息'
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "../medicine/save",
                    data:data.field,
                    success:function (result) {
                        if (result.code === 0){
                            // 关闭弹出层
                            layer.close(index);
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            // 刷新父页面
                            window.parent.location.reload();
                        }
                    }
                })
            });

            return false;
        });

    });
</script>
</body>
</html>